
* {
  box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family:      Helvetica, Arial, FreeSans, san-serif;*/
    color:              #2e3830;
    background-color:   #ffffff;
    line-height:        normal;
}

table.banner {
    width:              100%;
    margin-top:         20px;
}

table.banner td:first-child {
    /*width:              1px;*/
    white-space:        nowrap;
    vertical-align:     top;

}

table.banner td:nth-child(2) {
    width:              1px;
    padding-left:       15px;
    padding-bottom:     0px;
}


table.ex {
    border-width:       0px 0px 0px 0px;
    border-spacing:     10px;
    border-style:       solid solid solid solid;
    border-color:       #ddd #ddd #ddd #ddd;
    border-collapse:    separate;
    background-color:   #ffffff;
    width:              800px;
    /*box-shadow:         -4px 4px 4px #999999, 4px 4px 4px #999999;*/
    margin:            auto;
}

@media only screen 
and (max-width: 800px)
{
table.ex {
    border-width:       0px 0px 0px 0px;
    border-spacing:     10px;
    border-style:       solid solid solid solid;
    border-color:       #ddd #ddd #ddd #ddd;
    border-collapse:    separate;
    background-color:   #ffffff;
    width:              100%;
    margin:             0px;
}
}


a{ 
    color:              #005DD8;
    font-weight:        bold;
    text-decoration:    none; 
    white-space: nowrap;
}
a:hover {
    color:              #BA5E1C;
    text-decoration:    none; 
}

b{
    font-size:          150%;
    /*font-variant:     small-caps;*/
    color:              #000;
    font-weight:        bold ;
}
.page_title{
    font-size:          150%;
    line-height:        0.3em;
    margin-bottom:      18px;
    margin-left:        3px;
    margin-top:         10px;
    color:              #000;
}
.page_subtitle{
    font-size:          100%;
    margin-top:         0px;
    margin-bottom:      0px;
    margin-left:        3px;
}

p {
    font-size:          140%;
}